<a href="/new">Create URL</a>

<table>
  <thead>
    <tr>
      <th>Short</th>
      <th>Long</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  {{#each urls}}
  <tr>
    <td><a href="{{this.short}}">{{ this.short }}</a></td>
    <td><a href="{{this.long}}">{{ this.long }}</a></td>
    <td></td>
    <td></td>
  </tr>
  {{/each}}
</table>
