<!DOCTYPE html>
<html>
  <head>
    <title>BYTE.LY</title>
    <!-- <link rel="stylesheet" href="/assets/css/styles.css" /> -->
  </head>
  <body>
    <h1>SHORT LINKS</h1>
    {{{body}}}
  </body>
</html>
