<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <a href="/">Home</a>
    <h1>URL Shortener</h1>
    {{{body}}}
  </body>
</html>
