<form action="/new" method="post">
  <input type="text" name="Url[short]" placeholder="Enter Shortened Url">
  <input type="text" name="Url[long]" placeholder="Enter Full Url">
  <button type="submit">Submit</button>
</form>
