<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortner</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <div class="form-div">
      <h1><a href="/">Welcome to your Url Shortener!</a></h1>
      <form class="input" action="index.html" method="post">

      </form>

      <form action="/urls" method="post">
        <input placeholder="Enter short url here:" type="string" name="url[short]" >
        <button type="submit">==></button>
      </form>
    </div>
  </body>
</html>

</style>
<body>
