<h1>Welcome</h1>
<h2>Shorten a URL</h2>
<form action="/urls" method="post">
  <input type="text" name="urls[long]" placeholder="URL"/>
  <button type="submit">Shorten</button>
</form>
<a href="/urls">View List</a>
